<div class="container w-50">
  <h4 class="text-center">Registration</h4>
  <form>
    <div class="d-flex align-items-center my-3">
      <label for="UserName" class="col-4">Email:</label>
      <input type="email" name="UserName" id="email" class="form-control">
    </div>
    <div class="d-flex align-items-center mb-3">
      <label for="Password" class="col-4">Password:</label>
      <input type="password" name="password" id="password" class="form-control">
    </div>
    <div class="text-center"><input type="submit" value="Register" class="btn app-btn-secondary"></div>
  </form>
  <p class="text-center mt-3">Already a user? <a href="login">Login here!</a></p>
</div>
