/* You can add global styles to this file, and also import other style files */
.app-btn-secondary {
  background-color: #58A6FF;
  color: white;
}

.app-btn-secondary:hover {
  color: white;
  background-color: #3793fc;
}

a {
  cursor: pointer;
}

