<form class="d-flex justify-content-between gap-2">
  <input type="text" name="Name" id="Name" class="form-control">
  <input type="number" name="Amount" id="Amount" class="form-control">
  <select name="Category" id="Category" class="form-select">
    <option value="">---</option>
    <option value="Rent/Mortgage">Rent/Mortgage</option>
    <option value="Credit Card/Loans">Credit Card/Loans</option>
    <option value="Utilities">Utilities</option>
    <option value="Car">Car</option>
    <option value="Groceries">Groceries</option>
    <option value="Health">Health</option>
    <option value="Entertainment">Entertainment</option>
    <option value="Misc">Misc</option>
  </select>
  <input type="submit" value="Add" class="btn app-btn-secondary">

</form>
